.toolbar
    .action.file
        input#fileInput.actionInput(type='file')
        label.actionLabel(for='fileInput')
            include images/device-floppy.svg
            | File
    .action
        input#repeatInput.actionInput(type='checkbox')
        label.actionLabel(for='repeatInput')
            include images/grid-dots.svg

